* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header style */
header {
    padding: 20px 35px;
    background-color: white;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: black;
    color: white;
}

/* hero style */
.hero img {
    width: 100%;
}

.hero h2 {
    position: absolute;
    font-size: 50px;
    padding: 20px;
}

/* works style */
.section-title {
    font-size: 60px;
    border-right: 3px solid;
    padding: 20px;
}

section p {
    font-size: 20px;
}

#run-buddy-work img {
    width: 100%;
    padding: 50px;
}

.works-titles {
    position: relative;
    left: 50px;
    font-size: 20px;
}

.placeholder-work img {
    width: 100%;
    padding: 50px;
}

/* footer style */
footer p a {
    font-size: 30px;
    text-decoration: none;
}

/* utilities */
.flex-row p {
    padding: 20px;
}

.flex-row {
    display: flex;
    padding: 30px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero h2 {
        width: 500px;
    }

    #run-buddy-work img {
        width: 125%;
    }

    .placeholder-work img {
        width: 125%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero h2 {
        width: 300px;
    }

    #run-buddy-work img {
        width: 100%;
    }

    .placeholder-work img {
        width: 100%;
    }

    .flex-row {
        flex-direction: column;
    }

    .section-title {
        border-right: none;
        border-bottom: 3px solid;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 3vw;
    }

    .hero h2 {
        font-size: 30px;
        width: 200px;
    }
}