* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: white;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: black;
    color: white;
}

.section-title {
    font-size: 60px;
    border-right: 3px solid;
    padding: 20px;
}

section p {
    font-size: 20px;
}

#run-buddy-work img {
    width: 35%;
    padding: 50px;
}

.works-titles {
    position: relative;
    left: 50px;
    font-size: 20px;
}

#placeholder-work-1 {
    border: 1px solid;
    width: 300px;
    height: 150px;
    position: relative;
    right: 39%;
    top: 100px;
}

#placeholder-work-2 {
    border: 1px solid;
    width: 300px;
    height: 150px;
    position: relative;
    right: 35%;
    top: 100px;
}

footer p a {
    font-size: 30px;
    text-decoration: none;
}

.flex-row p {
    padding: 20px;
}

.flex-row {
    display: flex;
    padding: 30px;
}